<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi frind</title>
    <link rel="icon" href="favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="../static/css/singin.css">

</head>

<body>
    <header>
        <h1 class="logo">Logo</h1>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <button class="loginn">Login</button>
        </nav>
    </header>
    <div class="wrapper">
        <span class="close"><ion-icon name="close-outline"></ion-icon></span>
        <!-- Login Form -->
        <div class="form-box login">
            <h2>LOGIN</h2>
            <form action="login" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="key-outline"></ion-icon></span>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="remember_me">
                    <label>
                        <span class="icon"><ion-icon name="umbrella-outline"></ion-icon></span>
                        <input type="checkbox" name="remember_me">I forget my password</label>
                    <a href="/password-reset">HELP!</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="log-register">
                    <p>Don't have an account?
                        <a href="#" class="register-link">New account</a>
                    </p>
                </div>
            </form>
        </div>
        <!-- Register Form -->
        <div class="form-box register">
            <h2>Register</h2>
            <form action="signup" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label for="username">User Name</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-unread-outline"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="key-outline"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="remember_me">
                    <label>
                        <span class="icon"><ion-icon name="umbrella-outline"></ion-icon></span>
                        <input type="checkbox" name="agree" required> I agree to the conditions
                    </label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="log-register">
                    <p>I have an account</p>
                    <a href="#" class="login-link">log in</a>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/js/hifriend.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>